section header {
  /*todo elemento que tem section e header- mais lidas da semana e ver tudo*/
  border-top: 1px solid var(--stroke-color);
  padding-block: 12px 24px;
  font: var(--text-span);


  a {
    /*ajustar o elemento 'ver tudo'*/
    justify-content: end;
    align-items: center;
    /*alinhas os icones*/
    gap: 8px;

    span {
      /*colocando a flechinha no ver mais*/
      background-image: url(/assets/icons/ArrowRight.svg);
      width: 16px;
      height: 16px;
    }

    &:hover span {
      /*quando passar o mouse em cima*/
      background-image: url(/assets/icons/ArrowRight-hover.svg);
    }

  }
}


#featured {
  img {
    /*configurações das imagens*/
    height: 100%;
    /*preenche todo o espaço, mas estica a imagem*/
    object-fit: cover;
    /*faz a cobertura de todo o espaço que está sobrando*/
    /*arrendodamento de borda das imagens*/
  }


  .card {
    /*escurecimento da primira*primeira imagem*/
    position: relative;
    overflow: hidden;
    /*esconder tudo que passar da caixa*/
    border-radius: 4px;

    &::before {
      /*nesthing*/

      content: "";
      position: absolute;
      inset: 0;

      top: 50%;
      /*escurecimento na metade da foto*/
      background: linear-gradient(180deg,
          /*angulacao*/
          transparent 0%,
          /*qual cor inicial*/
          #020617 100%);
      /*aplicar o gradiente na imagem*/
    }


    figcaption {
      position: absolute;
      /*texto em cima das imagens*/
      bottom: 0;
      /*coloca abaixo*/
      padding: 24px;
      /*espaço entre ele*/

      &:has(.text-lg) {
        /*ve se tem alguma classe com nome text-lg*/
        padding: 12px;
      }

      h2 {
        margin-top: 8px;
      }
    }

  }
}

/*definindo as mais lidas da semaana*/
#weekly {

  &>div {
    /*primeiro nivel de div*/
    grid-template-columns: repeat(4, 292px);
    /*repetir 4 vezes eles estejam adaptados de maneira flexivel */
  }

  img {
    height: 160px;
  }

  figure {
    position: relative;

    /*ajustando as tags*/
    position: absolute;
    top: 8px;
    left: 8px;
  }

  p {
    margin-top: 8px;
    font-weight: 800;
  }

}