
/*utility first: quando tem uma classe que vai fazer apenas uma coisa*/
.grid{
  display: grid;
}

/*transformar o grid em colunas*/
.grid-flow-col{
grid-auto-flow: column;
}

.grid-cols-2{ /*grid das 4 imagens menores*/
  grid-template-columns: 1fr 1fr;
}

.gap-16{ /*espaço entre as imagens*/
  gap: 16px;
}

/*classes de fontes para aplicar*/
.text-2xl{
  font: var(--h1);
}
.text-xl{
  font: var(--h2);
}

.text-lg{
  font: var(--h3);
}
.text-sm{
  font: var(--text-sm);
}